### Node ###
# Logs
logs
*.log
npm-debug.log*

# Transpilation results
*.js

# Dependency directories
node_modules/

### Visual Studio Code ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### JetBrains ###
.idea/
